<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a routerLink="/agent" class="nav-link">Wallet</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Clients</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">Payments</a>
                  </li>
              </ul>
          </div>
    </div>
</nav>